h1 {
  display: flex;
  color: teal;
  border: black;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bolder;
  float: right;

}

h3 {
  color: teal;
  border: black;
  font-family: 'Times New Roman', Times, serif;
  font-style: normal;
  font-weight: bolder;
}


img {
  width: 10%;
  height: 10%;
  
}


